:root {
  --bs-table-bg: #161b22;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

.se-container,
.sun-editor .se-list-layer {
  background-color: #0a141c !important;
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
  color: #fff !important;
}

.sun-editor {
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
  background-color: rgba(210, 210, 210, 0.125) !important;
  border-radius: 0.3rem;
}

.sun-editor .se-toolbar {
  background-color: #0a141c !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
  color: #fff !important;
}

.sun-editor button {
  color: #fff !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor .se-wrapper .se-wrapper-inner,
.se-resizing-bar .sun-editor-common,
.sun-editor .se-resizing-bar {
  background-color: #0a141c !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor .se-btn-module-border {
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor-editable,
.se-btn-list {
  color: #fff !important;
}

.sun-editor .se-resizing-bar {
  display: none !important;
}

.dropstart .dropdown-toggle::before {
  display: none;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
}

* {
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

body {
  background-color: #0a141c;
  color: #fff !important;
}

hr {
  color: #343a40;
}

.modal-dark {
  background-color: #0a141c !important;
}

.bg-dark {
  background-color: #343a4000 !important;
}

.sidenav li span {
  font-weight: 600;
}

.sidenav .active li {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#7f00ff), color-stop(#bf00ff), color-stop(#d900ff), to(#e100ff));
  background-image: linear-gradient(to right, #7f00ff, #bf00ff, #d900ff, #e100ff);
  border-radius: 3px;
  -webkit-animation: hue infinite alternate 0 ease-in;
          animation: hue infinite alternate 0 ease-in;
  background-size: 100% 100%;
}

.sidenav .active li div {
  background-color: #161b22;
  color: #fff;
}

@-webkit-keyframes hue {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 300% 100%;
  }
}

@keyframes hue {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 300% 100%;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

.post {
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  word-break: break-all;
}

iframe {
  border: 0;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */