:root {
  --bs-table-bg: #161b22;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

.se-container,
.sun-editor .se-list-layer {
  background-color: #0a141c !important;
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
  color: #fff !important;
}

.sun-editor {
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
  background-color: rgba(210, 210, 210, 0.125) !important;
  border-radius: 0.3rem;
}

.sun-editor .se-toolbar {
  background-color: #0a141c !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
  color: #fff !important;
}

.sun-editor button {
  color: #fff !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor .se-wrapper .se-wrapper-inner,
.se-resizing-bar .sun-editor-common,
.sun-editor .se-resizing-bar {
  background-color: #0a141c !important;
  outline: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor .se-btn-module-border {
  border: 1px solid rgba(210, 210, 210, 0.125) !important;
}

.sun-editor-editable,
.se-btn-list {
  color: #fff !important;
}

.sun-editor .se-resizing-bar {
  display: none !important;
}

.dropstart .dropdown-toggle::before {
  display: none;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
}

* {
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

body {
  background-color: #0a141c;
  color: #fff !important;
}

hr {
  color: #343a40;
}

.modal-dark {
  background-color: #0a141c !important;
}

.bg-dark {
  background-color: #343a4000 !important;
}

.navbar-dark,
.table > :not(caption) > * > * {
  background-color: #0a141c !important;
}

@media (min-width: 576px) {
  .container.outside {
    max-width: 95% !important;
  }
  .container.outside .col-sm-6 {
    height: 86vh;
    overflow-y: auto;
  }
}

.container .row .formlink {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.container .row .sidenav ul .list-group-item {
  background-color: #0a141c !important;
  color: #fff !important;
  border: none;
  padding: 0px;
}

.container .row .sidenav ul .list-group-item i.fas {
  padding-right: 2rem;
  height: 1rem;
}

.container .row .sidenav ul .list-group-item a {
  color: #fff !important;
  display: inline-block;
  padding: 0.8rem 1.25rem;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 50ex;
}

.container .row .sidenav ul .list-group-item a:hover {
  background-color: #007bff4c;
}

.container .row .sidenav ul .list-group-item a.active {
  color: #007bff !important;
}

.container .row .col-sm-6 .button-container {
  width: 100%;
}

.container .row .col-sm-6 .container {
  background-color: #0a141c;
}

.container .row .col-sm-6 .container .icon-container .icons {
  display: inline;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50ex;
}

.container .row .col-sm-6 .container .icon-container .icons:hover {
  background-color: #007bff4c;
  color: #007bff;
}

.container .row .col-sm-6 .container .icon-container .icons.hearts:hover {
  background-color: rgba(211, 0, 0, 0.249);
  color: #d30000;
}

.post {
  border: 1px solid rgba(210, 210, 210, 0.125);
  word-break: break-all;
}

.form-control {
  background-color: #0a141c;
  border: 1px solid rgba(210, 210, 210, 0.125);
  color: #fff;
}

.form-control:focus {
  background-color: #0a141c;
  border: 1px solid rgba(210, 210, 210, 0.125);
  color: #fff;
}

.table-dark tbody tr {
  border-bottom: 1px solid rgba(210, 210, 210, 0.125);
}

iframe {
  border: 0;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .sidenav {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .btn.btn-secondary.dropdown-toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */