.dropstart .dropdown-toggle::before {
  display: none;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
}

.rws-container {
  background-color: $background !important;
}

.rws-close {
  background-color: $background !important;
  color: $textColor !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header,
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary,
.tox .tox-tbtn,
.tox .tox-edit-area__iframe,
.tox-statusbar {
  background-color: $background !important;
}

.tox .tox-tbtn,
.tox .tox-tbtn svg,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount,
.tox .tox-statusbar__branding svg {
  color: $textColor !important;
  fill: $textColor !important;
}

.tox-tinymce {
  border: $border !important;
}

.tox .tox-statusbar {
  border-top: none !important;
  color: $textColor !important;
}

.tox-collection__item-label > * {
  color: $background !important;
}
