$font: "Josefin Sans", sans-serif;
$textColor: #fff;
$background: #282c34;
$lighterBackground: #343a40;
$border: 1px solid rgba(210, 210, 210, 0.125);

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  font-family: $font;
}

body {
  background-color: $background;
  color: $textColor !important;
}

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@media (min-width: 576px) {
  .container.outside {
    max-width: 95% !important;
    .col-sm-6 {
      height: 86vh;
      overflow-y: auto;
    }
  }
}
.container .row {
  .col-sm-3 ul li {
    background-color: $background !important;
    color: $textColor !important;
    border-bottom: $border;
    cursor: pointer;
    &:hover {
      background-color: $lighterBackground !important;
    }
  }
  .col-sm-6 {
    .button-container {
      width: 100%;
    }
    .container {
      background-color: $background;
      .icon-container {
        @include displayFlex(left, center);
        img {
          height: 15px;
          cursor: pointer;
          padding-right: 1rem;
        }
        p {
          margin-bottom: 0rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
