@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./scrollbar";
// $font: "Josefin Sans", sans-serif;
$font: "Fira Sans", sans-serif;
$textColor: #fff;
$background: #161b22;
$lighterBackground: #343a40;
$border: 1px solid rgba(210, 210, 210, 0.125);
$primaryColor: #007bff;
$hover: #007bff4c;

// :root {
//   filter: invert(1) hue-rotate(180deg);
// }

* {
  font-family: $font;
}
p {
  font-style: italic;
}
a,
a:visited,
a:any-link {
  text-decoration: none;
}
body {
  background-color: $background;
  color: $textColor !important;
}
hr {
  color: $lighterBackground;
}

.modal-dark {
  background-color: $background !important;
}

.bg-dark {
  background-color: #343a4000 !important;
}

.navbar-dark,
.table-dark {
  background-color: $background !important;
}

@media (min-width: 576px) {
  .container.outside {
    max-width: 95% !important;
    .col-sm-6 {
      height: 86vh;
      overflow-y: auto;
    }
  }
}
// Form
.container .row {
  .col-sm-3.form {
    p em {
      color: $primaryColor;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  // sidenav
  .sidenav ul .list-group-item {
    background-color: $background !important;
    color: $textColor !important;
    border: none;
    padding: 0px;
    i.fas {
      padding-right: 2rem;
      height: 1rem;
    }
    a {
      color: $textColor !important;
      display: inline-block;
      padding: 0.8rem 1.25rem;
      cursor: pointer;
      font-size: 1.3rem;
      border-radius: 50ex;
      font-style: italic;
      &:hover {
        background-color: $hover;
      }
    }
    a.active {
      color: $primaryColor !important;
    }
  }
  .col-sm-6 {
    .button-container {
      width: 100%;
    }
    .container {
      background-color: $background;
      .icon-container {
        // @include displayFlex(left, center);
        .icons {
          display: inline;
          padding: 0.5rem 1rem;
          cursor: pointer;
          border-radius: 50ex;
          &:hover {
            background-color: $hover;
            color: $primaryColor;
          }
        }
        .icons.hearts {
          &:hover {
            background-color: rgba(211, 0, 0, 0.249);
            color: rgb(211, 0, 0);
          }
        }
      }
    }
  }
}

.post {
  border: $border;
  word-break: break-all;
}

.form-control {
  background-color: $background;
  border: $border;
  &:focus {
    background-color: $background;
    border: $border;
    color: $textColor;
  }
}

.table-dark tbody tr {
  border-bottom: $border;
}
