body {
  background-color: #282c34;
  color: #fff !important;
}

.container .row .col-sm-3 ul li {
  background-color: #282c34 !important;
  color: #fff !important;
  border-bottom: 1px solid rgba(210, 210, 210, 0.125);
  cursor: pointer;
}
.container .row .col-sm-3 ul li:hover {
  background-color: #343a40 !important;
}

.container .row .col-sm-6 {
  overflow-y: auto;
  height: 80vh;
}
.container .row .col-sm-6 .button-container {
  width: 100%;
}
.container .row .col-sm-6 .container .icon-container {
  display: flex;
  align-items: center;
  justify-content: left;
}
.container .row .col-sm-6 .container .icon-container img {
  height: 15px;
  cursor: pointer;
  padding-right: 1rem;
}
.container .row .col-sm-6 .container .icon-container p {
  margin-bottom: 0rem;
  padding-right: 1rem;
}
.container .row .col-sm-6 .container .container {
  background-color: #282c34;
}
