// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font: "Poppins", sans-serif;
$textColor: #fff;
// $background: #161b22;
$background: rgb(10, 20, 28);
$lighterBackground: #343a40;
$border: 1px solid rgba(210, 210, 210, 0.125);
$borderColor: rgba(210, 210, 210, 0.125);
$primaryColor: #007bff;
$hover: #007bff4c;

:root {
  --bs-table-bg: #161b22;
}

@import "./components/scrollbar";
@import "./components/overrides";

* {
  font-family: $font;
  scroll-behavior: smooth;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

body {
  // background-color: $background;
  background-color: $background !important;
  color: $textColor !important;
}

hr {
  color: $lighterBackground;
}

.modal-dark {
  background-color: $background !important;
}

.bg-dark {
  background-color: #343a4000 !important;
}

.sidenav {
  li span {
    font-weight: 600;
  }
  .active li {
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #7f00ff,
      #bf00ff,
      #d900ff,
      #e100ff
    );
    border-radius: 3px;
    animation: hue infinite alternate 0 ease-in;
    background-size: 100% 100%;
    div {
      background-color: #161b22;
      // background-image: linear-gradient(to right, #161b22, #161b22);
      color: #fff;
    }
  }
}

@keyframes hue {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 300% 100%;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

.post {
  // border: $border;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  word-break: break-all;

  img {
    max-width: 100%;
  }
}

iframe {
  border: 0;
  max-width: 100%;
  height: auto;
}
